streamlit
langchain-google-genai
langchain-text-splitters
langchain-core
langchain
langchain-community
pypdf
requests
beautifulsoup4
python-docx
duckduckgo-search
faiss-cpu
numpy
sentence-transformers
unstructured
google-generativeai
pandas
requests
beautifulsoup4
